<div class="header">
    <style>
        .header {
            width: 100%;
            height: 200px;
            padding-top: 30px;
            text-align: center;
            font-size: 30px;
            color: #ffffff;
            font-family: "Lucida Console", "Courier New", monospace;
        }
    </style>
    REMEMBER ME, DAMNIT
</div>