<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #2a2b33;
            font-family: "Lucida Console", "Courier New", monospace;
        }
        td {
            width: 200px;
            height: 200px;
            text-align: center;
            vertical-align: middle;
            border-collapse: separate;
        }
        .item {
            border: 2px solid #ffffff;
            margin: 20px;
            height: inherit;
            width: inherit;
        }
        .item:hover {
            border: 2px solid #15478d;
            cursor: pointer;
        }
        button {
            background-color: transparent;
            color: #ffffff;
        }
        .table-div {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .error_div {
            color: red;
            font-size: 30px;
            margin-top: -100px;
            margin-bottom: 100px;
            padding: 10px;
            text-align: center;
        }
        .link_to_confirmation {
            display: none;
        }
        .loader {
            position: fixed !important;
            top: 50%;
            left: 50%;
            margin-left: -6em !important;
            margin-top: -6em !important;
            display: none;
        }
        .show_loader {
            display: flex !important;
        }
    </style>
    <%- include('../partials/header'); %>
</head>
<body>
    <div id="error_div" class="error_div"></div>
    <div class="table-div">
        <table>
            <tr>
                <td>
                    <button class="item" type="button" onclick="sendEmail('mipl')">
                        Mipl
                    </button>
                </td>
                <td>
                    <button class="item" onclick="sendEmail('escape_room');">
                        Escape room
                    </button>
                </td>
                <td>
                    <button class="item" type="button" onclick="sendEmail('zabac')" >
                        Zabac
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="item" type="button" onclick="sendEmail('movie_night')">
                        Movie night
                    </button>
                </td>
                <td>
                    <button class="item" type="button" onclick="sendEmail('cooking_date')">
                        Cooking date
                    </button>
                </td>
                <td>
                    <button class="item" type="button" onclick="sendEmail('dinner_date')">
                        Dinner date
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="item" type="button" onclick="sendEmail('shopping')">
                        Shopping
                    </button>
                </td>
                <td>
                    <button class="item" type="button" onclick="sendEmail('coffee_drink')">
                        Coffee / drink
                    </button>
                </td>
                <td>
                    <button class="item" type="button" onclick="sendEmail('sweets')">
                        Sweets
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="item" type="button" onclick="sendEmail('party')">
                        Party
                    </button>
                    <div class="party_error"></div>
                </td>
                <td>
                    <button class="item" type="button" onclick="sendEmail('walk')">
                        Walk
                    </button>
                    <div class="walk_error"></div>
                </td>
                <td>
                    <button class="item" type="button" onclick="sendEmail('code')">
                        Code
                    </button>
                    <div class="code_error"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="item" type="button" onclick="sendEmail('mistery');">
                        Mistery
                    </button>
                    <div class="mistery_error"></div>
                </td>
            </tr>
        </table>
        <a class="link_to_confirmation" href="/confirmation">Confirmation</a>
    </div>
    <%- include('../partials/loader'); %>
    <script>
        async function sendEmail(option, email) {
            showLoader();
            const userEmail = '<%- JSON.stringify(email) %>';
            const url = '<%= host %>' + '/sendEmail'
            console.log(url);
            await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ option: option, email: userEmail })
            })
            .then(res => {
                console.log(res);
                hideLoader();

                if(res.status !== 200) {
                    return showError();
                }

                navigateToConfirmationPage();
            })
            .catch(console.log);
        }
        function showError() {
            document.getElementById('error_div').innerHTML = 'Sorry there was an error please try again later';
            document.body.scrollTop = document.documentElement.scrollTop = 0;
            setTimeout(() => {
                document.getElementById('error_div').innerHTML = '';
            }, 3000);
        }
        function getLoader() {
            return document.getElementsByClassName('loader')[0];
        }
        function showLoader() {
            getLoader().classList.add('show_loader');
        }
        function hideLoader() {
            getLoader().classList.remove('show_loader');
        }
        function navigateToConfirmationPage() {
            document.getElementsByClassName('link_to_confirmation')[0].click();
        }
    </script>
</body>
</html>