<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .thank-you {
            color: #ffffff;
            font-size: 15;
        }
    </style>
    <%- include('../partials/header'); %>
</head>
<body>
    <div class="thank-you">Thank you for letting the other person know</div>
</body>
</html>